@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

@font-face {
  font-family: 'Cyberpunk-logo';
  src: url(./fonts/Cyberpunk.ttf);
}

* {
    padding: 0;
    margin: 0;
}

.body {
    background-image: url(./images/cyberpunk-back.jpg);
}

/*Loading bar start*/
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  border: 0px;
  height: 1px;
  overflow: hidden;
  background: #1b1b1b;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 400px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #ff003c;
}

.pace.pace-inactive {
  display: none;
}

#preloader{
  width:100%;
  height:100vh;
  background-image: url(./images/red-blackPreloader.jpg);
  overflow:hidden;
  position:fixed;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.p {
  font-size: 35px;
  text-shadow: black 3px 4px 0px;
  font-family: 'Tomorrow', sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff003c;
}
/*Loading bar end */

#header {
    font-family:  'Cyberpunk-logo', sans-serif;
    font-style: italic;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: black;
    font-size: 65px;
    font-weight: 600;
    color: yellow;
    text-shadow: rgb(0, 208, 255) 2px 3px 0px;

}

#footer {
  color: yellow;
}
.credit {
  font-size: 10px;
  font-style: italic;
}
  
/* PLayer and AI score start */
.score {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 30px solid;
    border-left: 5px solid;
    border-right: 5px solid;
    border-bottom: 15px solid;
    clip-path: (calc(22% + 28px) -1px, calc(22% + 45px) 15px, 34% 15px, calc(34% + 15px) -1px, 70% 0px)
}

.playerScore, .computerScore {
  width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border: 30px solid #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    border-bottom: 15px solid #000;
    clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px)  calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px  calc(100% - 0px), 0% calc(100% - 10px));
    background-color: #000;
}

.nameTags {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 208, 255);
}

.c-count, .p-count {
  font-family: Tomorrow, sans-serif;
    font-size: 45px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 208, 255);
}
/* PLayer and AI score end */


.move, .rounds {
    /* display: block;
    text-align: center;
    height: 75px;
    font-size: 60px;
    font-weight: 400;
 */
 /* background-color: var(--yellow-color); */
 padding: 30px;
 font-family: 'Tommorrow', arial ;
 font-size: 2rem;
 line-height: 2.2rem;
 font-weight: 200;
 position: relative;
 padding-bottom: 15px;
 --glitched-duration: 0.9s;
 --glitched-long-duration: 3s;
 --yellow-color: #f9f002;
 --yellow-color-opacity: #f9f00242;
 --orange-color: #ff9800;
 --border-color: #8ae66e;
 --red-color: #ff003c;
 --blue-color: #136377;
 --green-color: #446d44;
 --purple-color: purple;
}

/* Titles start*/

h1.cyberpunk {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 200;
  position: relative;
  padding-bottom: 15px;
  color: var(--yellow-color);
}


h1.cyberpunk:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 2px;
    width: 100%;
    height: 10px;
    background-color: var(--yellow-color);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
}

h1.cyberpunk.glitched {
  font-size: 1.5rem;
  animation-name: h1glitched;
  animation-duration: calc(var(--glitched-duration) * 1.4);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}



@keyframes h1glitched {
  0% {
    transform: skew(-20deg);
    left: -4px;
  }
  10% {
    transform: skew(-20deg);
    left: -4px;
  }
  11% {
    transform: skew(0deg);
    left: 2px;
  }
  50% {
    transform: skew(0deg);
  }
  51% {
    transform: skew(10deg);
  }
  59% {
    transform: skew(10deg);
  }
  60% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0deg);
  }
}

h1.cyberpunk.glitched:before {
  animation-name: h1beforeglitched;
  animation-duration: calc(var(--glitched-duration) * 2);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes h1beforeglitched {
  0% {
    transform: skew(-20deg);
    left: -4px;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  10% {
    transform: skew(-20deg);
    left: -4px;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  11% {
    transform: skew(0deg);
    left: 2px;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  50% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  51% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  59% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  60% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  100% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
}


h1.cyberpunk:after,
p.cyberpunk:after {
  content: "_";
  animation-name: hxafter;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}



@keyframes hxafter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/* Titles end */


/* Separator start*/

hr {
  height: 14px;
  background-color: var(--yellow-color);
  width: 100%;
  clip-path: polygon(1px 0px, 0px 0px, 0px 0px, 8px 14px, 13px 14px, 22px 7px, 42px 6px, 49px 2px, 100% 2px, 100% 0px, 42px 0px, 35px 5px, 22px 6px, 13px 13px, 9px 13px);
  animation-name: hr;
  animation-duration: var(--glitched-long-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes hr {
  0% {
    transform: skew(0deg);
  }
  15% {
    transform: skew(0deg);
  }
  16% {
    transform: skew(20deg);
  }
  20% {
    transform: skew(20deg);
  }
  21% {
    transform: skew(0deg);
  }
  100% {
    right: 35px;
  }
}
/* Separator end */

/* Scrollbar start*/

::-webkit-scrollbar {
  background-color: var(--yellow-color);
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-track-piece {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: red;
  border-bottom: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  transition: background var(--glitched-duration);
}
::-webkit-scrollbar-thumb:hover {
  background-color: orange;
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-resizer {
  display: none;
}
/* Scrollbar end */


.rounds, .move {
    text-align: center;
}

/* Buttons start */

.buttons {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.but-rock, .but-paper, .but-scissors {
    /* display: flex;
    justify-content: space-around; */
--yellow-color: #fcee09; 
  --red-color: #ff003c;
  --black-color: #050a0e;
  --blue-color: #00f0ff;
  --white-color: #fafafa;
    width: 230px;
    height: 60px; 
    border: 0;
    outline: none;
    background-color: var(--black-color);
    cursor: pointer;
    position: relative;
    font-family: Tomorrow, sans-serif;
    font-size: .95rem;
    text-transform: uppercase;
    color: var(--black-color);
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: var(--red-color);
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  }

  .btn__label {
    font-size: .40rem;
    position: absolute;
    bottom: -1px;
    right: 8%;
    padding: 0 5px;
    background-color: var(--yellow-color);
    z-index: 3;
    border-left: 1px solid var(--blue-color);
  }

  .btn__glitch {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--yellow-color);
    filter: drop-shadow(-2px 3px #67e3f3) drop-shadow(-1px -3px #02d8f3) drop-shadow(2px 1px #02d8f3);
  }

  .but-rock:hover .btn__glitch,
  .but-rock:hover .btn__content::after,
  .but-rock:focus .btn__glitch,
  .but-rock:focus .btn__content::after {
  display: block;
  animation: glitch-animation 2s linear 0s infinite;
    }


.but-paper:hover .btn__glitch,
.but-paper:hover .btn__content::after,
.but-paper:focus .btn__glitch,
.but-paper:focus .btn__content::after {
display: block;
animation: glitch-animation 2s linear 0s infinite;
    }

  .but-scissors:hover .btn__glitch,
  .but-scissors:hover .btn__content::after,
  .but-scissors:focus .btn__glitch,
  .but-scissors:focus .btn__content::after {
  display: block;
  animation: glitch-animation 2s linear 0s infinite;
    }

/* Glitch animation for buttons */
@keyframes glitch-animation {
    0% {
      opacity: 1;
      transform: translateZ(0);
      clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    }
  
    2% {
      clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
      transform: translate(-5px);
    }
  
    6% {
      clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
      transform: translate(5px);
    }
  
    8% {
      clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
      transform: translate(-5px);
    }
  
    9% {
      clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
      transform: translate(0);
    }
  
    10% {
      clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
      transform: translate3d(5px, 0, 0);
    }
  
    13% {
      clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
      transform: translateZ(0);
    }
  
    13.1% {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      transform: translate3d(5px, 0, 0);
    }
  
    15% {
      clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
      transform: translate3d(5px, 0, 0);
    }
  
    20% {
      clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
      transform: translate3d(-5px, 0, 0);
    }
  
    20.1% {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      transform: translate3d(5px, 0, 0);
    }
  
    25% {
      clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
      transform: translate3d(5px, 0, 0);
    }
  
    30% {
      clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
      transform: translate3d(-5px, 0, 0);
    }
  
    30.1% {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
  
    35% {
      clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
      transform: translate(-5px);
    }
  
    40% {
      clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
      transform: translate(5px);
    }
  
    45% {
      clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
      transform: translate(-5px);
    }
  
    50% {
      clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
      transform: translate(0);
    }
  
    55% {
      clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
      transform: translate3d(5px, 0, 0);
    }
  
    60% {
      clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
      transform: translateZ(0);
      opacity: 1;
    }
  
    60.1% {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      opacity: 1;
    }
  
    to {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      opacity: 1;
    }
  }
  /* Buttons end */

  /*Sections start*/

  section.cyber {
    background-color: var(--yellow-color);
    color: #000;
    padding: 60px 60px;
    position: relative;
      margin-top: -1px;
    margin-bottom: -1px;
  }
  section.cyber:after,
  section.cyber.black:after {
    content: " ";
    display: block;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: #000;
    position: absolute;
    clip-path: polygon(0% 0%, 22% 0%, calc(22% + 30px) 30px, 52% 30px, calc(52% + 15px) 15px, 70% 15px, calc(70% + 15px) 30px, 90% 30px, calc(90% + 30px) 0px, 100% 0px, 100% 30px, 0px 30px);
  }
  
  section.cyber.black:after {
    background-color: var(--yellow-color);
  }
  
  section.cyber.black {
    background-color: #000;
    color: var(--yellow-color);
  }
  
  section.cyber:before,
  section.cyber.black:before {
    content: " ";
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: var(--yellow-color);
    position: absolute;
    clip-path: polygon(calc(22% + 28px) -1px, calc(22% + 45px) 15px, 34% 15px, calc(34% + 15px) -1px, 70% 0px)
  }
  
  section.cyber:before {
    background-color: #000;
  }
/* Sections end */

#end-alert {
  background-color: #000;
  text-align: center;
}

.final-results {
  font-family: 'Tomorrow', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reload-page {
  display: none;
  text-align: center;
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 0;
  --primary-lightness: 50;
  --color: hsl(0, 0%, 100%);
  --font-size: 26px;
  --shadow-primary-hue: 180;
  font-family: 'Tomorrow', sans-serif;
  color: var(--color);
  text-transform: uppercase;
  background: var(--primary);
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  font-weight: 700;
  border: 0;
  min-width: 300px;
  padding: 32px 64px;
  box-shadow: inset -3px 0 0 var(--shadow-primary);
}
  /*Mobile*/
  @media (prefers-reduced-motion: reduce) {
    .btn:hover .btn__glitch,
    .btn:hover .btn__content::after,
    .btn:focus .btn__glitch,
    .btn:focus .btn__content::after {
      display: none;
      animation: none;
    }
  }